<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <title>Server</title>
  </head>
  <body>
  <h1>Server</h1>

  <p>AccessBoardを監視・制御します</p>

  <a href="/list">一覧</a>

  </body>
</html>

